p {
    color: black;
    font-size: 1em;
}

td {
    color: black;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: #0f5679;
    text-align: center;
    font-weight: 400;
    text-decoration: white wavy underline;
    line-height: 2.5;
    letter-spacing: 1.5px;
    font-size: 70px;
    font-family: Helvetica, sans-serif;
}



.tag {
    color: green;
}

.mail {
    text-align: center;
}

.infoform {
    align-items: center;
}

h2:nth-of-type(2n) {
    text-align: center;
}

.mas_links a {
    color: #457b9d;
}

.mas_links {
    width: 1000px;
}

.mas_links a:active {
    background-color: #02c39a;
    color: red;
}

section li {
    color: salmon;
}

input[type="email"] {
    color: crimson;
}

h2[class="tag"] {
    color: white;
    background-color: green;
}

.signup button:hover {
    background-color: #e63946;
    color: #f1faee;
}

.mas_links:nth-of-type(2n) {
    background-color: black;
    color: salmon;
}


p::selection {
    background-color: turquoise;
    color: white;
}



section {
    width: 1000px;
}

/* #onep {
    background-color: #e5989b;
    border-width: 5px;
    border-color: black;
    border-style: solid;
} */



.newsletter {
    background-color: aquamarine;
    border: 3.5px solid rgb(243, 197, 192);
    border-radius: 10% / 50%;
    text-align: center;
}

h2 {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 20px;
}

button {
    padding: 7px 7px;
}

.para {
    padding-bottom: 35px;
    padding-top: 17px;
}