/* p {
    color: black;
    font-size: 1em;
}

td {
    color: black;
}

h1 {
    color: rgb(0, 0, 0);
    background-color: #0f5679;
    text-align: center;
    font-weight: 400;
    line-height: 2.5;
    letter-spacing: 1.5px;
    font-size: 40px;
    font-family: raleway;
    background: none;
}



.tag {
    color: green;
}

.mail {
    text-align: center;
}

.infoform {
    align-items: center;
}

h2:nth-of-type(2n) {
    text-align: center;
}

.mas_links a {
    color: #457b9d;
}

.mas_links {
    width: 1000px;
}

.mas_links a:active {
    background-color: #02c39a;
    color: red;
}

section li {
    color: salmon;
}

input[type="email"] {
    color: crimson;
}

h2[class="tag"] {
    color: white;
    background-color: green;
}

.signup button:hover {
    background-color: #e63946;
    color: #f1faee;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

.mas_links:nth-of-type(2n) {
    background-color: aliceblue;
    width: 200px;
}


p::selection {
    background-color: turquoise;
    color: white;
}



section {
    width: 1000px;
    background-image: url(madina.jpg);
    background-size: cover;
}

/* #onep {
    background-color: #e5989b;
    border-width: 5px;
    border-color: black;
    border-style: solid;
} */
/* 


.newsletter {
    background-color: aquamarine;
    border: 3.5px solid rgb(243, 197, 192);
    border-radius: 10% / 50%;
    text-align: center;
}

h2 {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 20px;
}

button {
    background: none;
    background-color: #151b29;
    color: #ffa260;
    border: 2px solid;
    padding: .95em 1.25em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.para {
    padding-bottom: 35px;
    padding-top: 17px;
}

h2 {
    font-size: 1.4em;
    margin-left: .6em;
}

section {
    font-size: 30px;
}

p {
    font-size: .75em;
    margin-left: 1.4em;
}

li {
    margin-left: 1em;
}

td {
    font-size: .75em;
}

#masjid_header {
    position: sticky;
    top: 0;
    display: inline-block;
    text-align: left;
}

#masjid_header h1 {
    width: 500px;
}



.haram {
    border-radius: 95%;
    transition: 1s;
}

/* .haram:hover .haram1 {
    border-radius: 95%;
    transition: 1s;
} */

/* section:first-of-type h2:nth-of-type(2) {
    transform: rotate(45deg);
}

body {
    font-family: montserrat, sans-serif;
    background-color: rgb(244, 244, 244);
}

main {
    width: 60%;
    margin: 0 auto;
}

h2 {
    font-family: roboto, sans-serif;
    font-weight: 100;
}

header {
    background-color: lightblue;
    text-decoration: black;
    height: 150px;

}

#mosque_nav_container {
    background-color: aquamarine;
    margin: 0 auto;
    border: 2px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: flex end;
}

*/

.header {
    background-color: hsl(0, 0%, 96%);
    padding: 0 1em;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul {
    list-style-type: none;
}

.header h1 {
    color: #000;
    font-size: 25px;
    font-family: raleway, sans-serif;

}

.nav li {
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    padding: .335em;
}

.nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}